.mainWrap{
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    width: 100%;
    align-items: center;
  }
  .homeWrap{
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    justify-content: end;
    min-height: calc(100vh - 9.5em);
    z-index: 2;
    width: 100%;
    max-width: 800px;
  }
  .chatWrap{
    display: flex;
    flex-direction: column;
    max-width: 800px;
  }
  .inputWrap{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 90%;
  }
  input{
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 15px 1px rgba(255, 255, 255, 0.5);
    width: 85%;
    color: white;
    margin: 1em;
    padding: 0.6em;
    font-size: 1.2em;
    border-radius: 16px;
  }
  .sendBtn{
    color: rgba(255, 255, 255, 0.5);
    font-size:2em;
    cursor: pointer;
  }
  @media (max-width: 450px) {
    .hide-on-mobile {
      display: none;
    }
    .homeWrap{
      background: none;
    }
    .inputWrap{
      width: 95%;
    }
    input{
      width: 73%;
    }
  }