.navbar{
    color: var(--nav-txt-color);
    font-weight: bolder;
    font-size: 1em;
    position: sticky;
    top: 0;
    width: 100%;
    height: 3.5em;
    display: flex;
    justify-content: center;
    z-index: 9;
    transition-duration: 500ms;
    /* background-color: var(--nav-bg-color); */
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
  }

.navInnerWrap{
  /* padding-inline: 2em; */
  padding-left: 1em;
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: space-between;
}
.navHeading{
  color: var(--txt-color);
  font-size: 2em;
  font-weight: bolder;
}
.nav_btn{
  font-family: var(--font-family);
  margin: 1em;
  font-size: large;
  font-weight: 600;
  background: none;
  color: var(--nav-txt-color);
  width: fit-content;
  height: 1.5em;
  transition-duration: 500ms;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: var(--btn-color);
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--btn-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media screen and (max-width: 450px) {
  .navHeading {
    font-size: 1.5em;
  }
}