
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400&display=swap");

body{
  --font-family: Outfit;
  font-family: var(--font-family);
  --nav-txt-color: #f1f3f3;
}
:root {
  --nav-bg-color: #7777773e;
  --bg-color:#1a1a1a;
  --ai-color: rgba(252, 132, 252, 0.268);
  --human-color: #0800ff33;
  --text-color:#FFFBFB;
  --btn-color: #f6d8fe;
}

input{
  border: none;
    outline: none;
    background: none;
    color: var(--text-color);
}

button{
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
}

@media screen and (max-width: 450px) {
  :root {
    --bg-color:#001629;
  }
}