
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400&display=swap");

body{
  --font-family: Outfit;
  font-family: var(--font-family);
  --nav-txt-color: #f1f3f3;
}
#dark{
  --nav-bg-color: #7777773e;
  --bg-color:#1a1a1a;
  --card-color: #86858529;
  --text-color:#FFFBFB;
  --btn-color: #f2c7fe;
}

input{
  border: none;
    outline: none;
    background: none;
    color: var(--text-color);
}

button{
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
}

@media screen and (max-width: 450px) {
  #dark {
    --bg-color:#001629;
  }
  #light{
  --card-color: #66cffc;
  }
}